# Versão do Python: 3.9
# Código a ser instalado no Arduino: biblioteca PyFirmata (Firmata Standard) (o Arduino atualmente já está com o código instalado e não há necessidade de alteração)

# DICA: Para instalar todas as bibliotecas, utilize o comando abaixo na pasta raiz do projeto:
# pip install -r requirements.txt 

# Bibliotecas e versões utilizadas no código:
opencv-python==4.9.0.80
mediapipe==0.10.11
pillow==10.2.0
protobuf==3.20.3
pyFirmata==1.1.0
